# IDE
.idea/

# build output files
/rust/target/
__pycache__/

# scratch files/folders
/ignored/
rust/ignored/
python/ignored/

/rust/zero/src/bin/ign_*.rs

# main data folder
/data/

rust/kz-core/proptest-regressions/

# Symlinks to external game implementations
rust/kz-core/src/mapping/oriflambe
python/lib/oriflambe.py
python/main/train_oriflambe.py
rust/kz-misc/src/bin/play_oriflambe.rs
rust/kz-misc/src/bin/play_oriflambe_gui.rs
rust/kz-misc/src/bin/play_oriflambe_gui
rust/kz-misc/src/bin/evaluate_oriflambe.rs
